/*
- Fonts
- General CSS
- Header
- Menu
- Search
- Listings
- Slideshow   
- Maps 
- Footer
- Responsive CSS
*/





/*  Fonts  */
@font-face {
  font-family: 'El Messiri.ttf';
  src: url('../fonts/El Messiri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





/*  General CSS  */
body { 
  background: #d4d7db; 
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: #d4d7db;
  font-family: 'El Messiri', Arial, sans-serif;
  letter-spacing: 1px;
}

h1 { 
  font-size: 2em; 
  margin: 0.65em 0; 
}

h2 { 
  font-size: 1.5em; 
  margin: 0.75em 0; 
}

h3 { 
  font-size: 1.15em; 
  margin: 0.8em 0; 
}

h5 { 
  font-size: 0.8em; 
  margin: 1.5em 0; 
}

h6 { 
  font-size: 0.75em; 
  margin: 1.65em 0; 
}

h1, h2, h3, 
h4, h5, h6 { 
  font-weight: bolder; 
}

.clearfix:before,  
.clearfix:after {  
  content: " ";  
  display: table;  
}  

.clearfix:after { 
  clear: both; 
}  

.clearfix { 
  *zoom: 1; 
}





/*  Header Section  */
header {
  width: 100%;
  height: 100px;
  background: rgba(68, 76, 94, .3);
}

header .logo {
  margin-top: 30px;
  float: left;
}

header a.open_menu {
  text-decoration: none;
  display: none;
  float: right;
  margin-top: 40px;
  width: 25px;
  height: 20px;
  background: url('../img/open_menu_icon.png') no-repeat;
}

header a.open_menu.opned {
  width: 20px;
  background: url('../img/close_menu_icon.png') no-repeat;
}

header nav {
  float: right;
  opacity: 1;
}

header nav ul {
  margin-top: 40px;
  list-style: none;
  overflow: hidden;
  float: left;
}

header nav ul li {
  float: left;
  margin-left: 15px;
  border-left: 1px solid white;
  padding-left: 15px;
}

header nav ul li:first-child { 
  border: none; 
}

header nav ul li a,
header nav .login {
  text-decoration: none;
  color: white;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

header nav ul li a:hover {
  color: #ff642e;
  transition: all 0.2s linear;
}

header nav .login {
  float: right;
  margin: 30px 0 0 50px;
  padding: 10px 30px 10px 30px;
  border: 2px solid white;
  background: transparent;
  border-radius: 5px;
  transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
}

header nav .login:hover {
  background: #f5f0e5;
  color: #ff642e;
  border: 2px solid #ff642e;
  transition: all 0.2s linear;
}





/*  Menu Section  */
.menu {
  width: 100%;
  height: 900px;
  position: relative;
  background: url('../img/fon.jpg') no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.menu .caption {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -105px;
  z-index: 10;
}

.menu .caption h2 {
  position: relative;
  display: block;
  color: white;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 100px;
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
}

.menu .caption h3 {
  color: white;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 0 25px;
  left: 1px;
}





/*  Search Section  */
.search {
  width: 100%;
  height: 100px;
  background: #444c5e;
  position: relative;
}

.search #search {
  display: block;
  width: 90.909%;
  height: 100px;
  float: left;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  background: #444c5e;
  color: #d4d7db;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 22px;
}

.search #search::-webkit-input-placeholder { 
  color: #d4d7db; 
}

.search #search:-moz-placeholder { 
  color: #d4d7db; 
}

.search #search::-moz-placeholder { 
  color: #d4d7db; 
}

.search #search:-ms-input-placeholder { 
  color: #d4d7db; 
}

.search #submit_search { 
  display: none; 
}

.search .advanced_search_icon {
  display: block;
  width: 26px;
  height: 26px;
  float: right;
  background: url('../img/advanced_search_inactive.png') no-repeat;
  margin-top: 37px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.search .advanced_search_icon:hover {
  background: url('../img/advanced_search_hover.png') no-repeat;
}

.search .advanced_search_icon.active {
  background: url('../img/advanced_search_active.png') no-repeat;
}

.search .advanced_search {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  background: #444c5e;
  border-top: 1px solid #d4d7db;
  border-bottom: 1px solid #d4d7db;
  z-index: 99;
  display: none;
}

.search .advanced_search .arrow {
  display: block;
  width: 14px;
  height: 9px;
  background: url('../img/search_arrow.png') no-repeat;
  position: absolute;
  top: -8px;
  right: 6px;
}

.search .advanced_search #numberRooms,
.search .advanced_search #numberMeters,
.search .advanced_search #min_price,
.search .advanced_search #max_price {
  display: block;
  width: 509px;
  height: 100px;
  border: 0;
  margin: 0;
  padding: 0 20px;
  outline: none;
  background: #444c5e;
}

.search .advanced_search #numberRooms,
.search .advanced_search #numberMeters {
  background-position: 484px 50%;
  padding: 0 100px 0 20px;
  width: 429px;
}

.search .advanced_search .float { 
  float: left; 
}

.search .advanced_search .search_fields {
  overflow: hidden;
  border-bottom: 1px solid #d4d7db;
}

.search .advanced_search .field_sep {
  display: inline-block;
  width: 1px;
  height: 60px;
  border: 0;
  background: #d4d7db;
  margin: 20px 0 0 0;
  padding: 0;
}

.search .advanced_search #numberRooms,
.search .advanced_search #numberMeters,
.search .advanced_search #min_price,
.search .advanced_search #max_price {    
  color: #d4d7db;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 22px;
} 

.search .advanced_search #numberRooms::-webkit-input-placeholder,
.search .advanced_search #numberMeters::-webkit-input-placeholder,
.search .advanced_search #min_price::-webkit-input-placeholder,
.search .advanced_search #max_price::-webkit-input-placeholder {
 color: #d4d7db;
}

.search .advanced_search #numberRooms:-moz-placeholder, 
.search .advanced_search #numberMeters:-moz-placeholder, 
.search .advanced_search #min_price:-moz-placeholder, 
.search .advanced_search #max_price:-moz-placeholder { 
 color: #d4d7db;  
}

.search .advanced_search #numberRooms::-moz-placeholder, 
.search .advanced_search #numberMeters::-moz-placeholder, 
.search .advanced_search #min_price::-moz-placeholder, 
.search .advanced_search #max_price::-moz-placeholder { 
 color: #d4d7db;  
}

.search .advanced_search #numberRooms:-ms-input-placeholder,  
.search .advanced_search #numberMeters:-ms-input-placeholder,  
.search .advanced_search #min_price:-ms-input-placeholder,  
.search .advanced_search #max_price:-ms-input-placeholder {  
 color: #d4d7db;  
} 





/*  Listings section  */
.listings { 
  padding: 100px 0; 
}

.listings ul.properties_list {
  list-style: none;
  overflow: hidden;
}

.listings ul.properties_list li {
  display: block;
  width: 30.909%;
  height: auto;
  position: relative;
  float: left;
  margin: 0 3.636% 3.636% 0;
}

.listings ul.properties_list li img.property_img {
  width: 100%;
  height: auto;
  vertical-align: top;
  border-radius: 5px 5px 0px 0px;
}

.listings ul.properties_list li .price {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 15px 20px;
  background: #d4d7db;
  color: #ff642e;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px 10px 10px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}

.listings ul.properties_list li:nth-child(3n+0) { 
  margin-right: 0; 
}

.listings ul li .property_details {
  width: 87.647%;
  padding: 2.99% 5.75% 4.17% 5.88%;
  border-bottom: 1px solid #444c5e;
  border-left: 1px solid #444c5e;
  border-right: 1px solid #444c5e;
  border-radius: 0px 0px 5px 5px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.listings ul li:hover .property_details {
  border-bottom: 1px solid #ff642e;
  border-left: 1px solid #ff642e;
  border-right: 1px solid #ff642e;
  background-color: #f5f0e5;
}

.listings ul li .property_details h1 {
  color: #444c5e;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 28px;
  text-align: center;
}

.listings ul li .property_details h1 a {
  text-decoration: none;
  color: #ff642e;
}

.listings ul li .property_details h2 {
  color: #444c5e;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.listings ul li .property_details .property_size { 
  color: #444c5e; 
}

.listings .more_listing {
  display: block;
  width: 100%;
  text-align: center;
  margin: 84px 0 22px 0;
}

.listings .more_listing_project {
  text-decoration: none;
  padding: 20px 45px;
  border: 1px solid #444c5e;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  color: #444c5e;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.listings .more_listing_project:hover {
  color: #ff642e;
  border: 1px solid #ff642e;   
  background-color: #f5f0e5; 
  transition: all 0.2s linear;
}





/* Slideshow */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.mySlides img { 
  max-width: 73%;
  border: 1px solid #444c5e; 
  border-radius: 5px;
}

/* Point indicators */
.point { 
  text-align: center; 
}

.dot {
  height: 5px;
  width: 30px;
  margin: 0 2px;
  background-color: #444c5e;
  opacity: 0.4;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-point { 
  background-color: #ff642e; 
  opacity: 1;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { 
    opacity: 0.4; 
  }

  to { 
    opacity: 1; 
  }
}

@-webkit-keyframes fade {
  from { 
    opacity: 0.4; 
  } 
  
  to { 
    opacity: 1; 
  }
}

/* Maps */
.contacts-maps {
  background-color: #c5cad2;
  padding: 20px 0 0px 0;
  margin: 50px 0 -100px 0;
}

.contacts-maps .h3 {
  text-align: center;
  color: #444c5e;
  vertical-align: middle;
  padding-bottom: 20px;
}





/*  Footer  */
footer {
  padding-top: 100px;
  background: #444c5e;
}

footer .footer > ul { 
  overflow: hidden; 
}

footer .footer > ul > li {
  display: block;
  float: left;
  list-style: none;
  margin-right: 60px;
}

footer .footer > ul > li:last-child { 
  margin-right: 0; 
}

footer .footer > ul > li.links { 
  width: 197px; 
}

footer ul li.links > ul > li {
  display: block;
  width: 100%;
  list-style: none;
  margin-bottom: 27px;
}

footer ul li.links > ul > li:last-child { 
  margin-bottom: 0; 
}

footer .footer > ul > li.links li a {
  text-decoration: none;
  display: block;
  color: #d4d7db;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: left;
}

footer .footer > ul > li.links li a:hover {
  color: #ff642e;
  transition: all 0.2s linear;
}

footer .footer > ul > li.about { 
  width: 327px; 
}

footer ul li.about p {
  color: #d4d7db;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 34px;
  margin-top: -9px;
}

footer ul li.about > ul > li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
}

footer ul li.about > ul > li:last-child { 
  margin-right: 0; 
}

footer ul li.about > ul > li a {
  background: url('../img/social_media.png') no-repeat;
}

footer ul li.about > ul > li a.facebook {
  display: block;
  width: 10px;
  height: 18px;
  background-position: 0 0;
}

footer ul li.about > ul > li a.twitter {
  display: block;
  width: 19px;
  height: 18px;
  background-position: -11px 0px;
}

footer ul li.about > ul > li a.google {
  display: block;
  width: 10px;
  height: 18px;
  background-position: -31px 0px;
}

footer ul li.about > ul > li a.skype {
  display: block;
  width: 17px;
  height: 18px;
  background-position: -43px 0px;
}

footer .copyrights {
  display: block;
  text-align: center;
  padding: 40px 0;
  margin-top: 60px;
  color: #d4d7db;
  font-family: 'El Messiri', Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-top: 1px solid #d4d7db;
}

footer .copyrights a.ph_link {
  font-family: 'El Messiri', Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #d4d7db;
}





/*  Responsive css */
@media (max-width: 1500px) {
  .menu { 
    height: 800px; 
  }
}

@media (max-width: 1150px) {
  .wrapper {
    padding: 0 40px;
    max-width: 1020px;
  }

  .search .advanced_search .arrow {
    top: -8px;
    right: 46px;
  }

  .search .advanced_search #numberRooms,
  .search .advanced_search #numberMeters,
  .search .advanced_search #min_price,
  .search .advanced_search #max_price {
    width: 46.27%;
    padding: 0 1.818%;
  }

  .search .advanced_search #numberRooms,
  .search .advanced_search #numberMeters {
    background-position: 95.088% 50%;
  }

  footer .footer > ul > li { 
    margin-right: 5.45%; 
  }

  footer .footer > ul > li.links { 
    width: 17.90%; 
  }

  footer .footer > ul > li.about{ 
    width: 29.72%; 
  }
}

@media (max-width: 1050px) {
  .menu {
    height: 600px;
    min-width: 250px;
  }

  .menu .caption {
    width: 92.72%;
    padding: 0 3.63%; 
  }

  .menu .caption h3 {
    margin: 0;
    left: 0;
  }

  header a.open_menu { 
    display: block; 
  }

  header nav {
    position: absolute;
    display: none;
    width: 92.72%;
    top: 95px;
    left: 3.63%;
    float: none;
    z-index: 120;
    overflow: hidden;
    background: #d4d7db;
    border-top: 5px solid #d4d7db;
  }

  header nav.active { 
    display: block; 
  }

  header nav .login {
    float: none;
    display: inline-block;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    background: #d4d7db;
  }

  header nav ul {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  header nav ul li {
    display: block;
    width: 100%;
    float: none;
    margin-left: 0;
  }

  header nav ul li a {
    display: block;
    padding: 25px 0;
    padding-right: 25px;
    border-bottom: 1px solid #d4d7db;
    transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
  }

  header nav ul li a:active { 
    background: #d4d7db; 
  }

  header nav ul li a,
  header nav .login { 
    color: #444c5e; 
  }

  header nav .login:hover { 
    background: #d4d7db; 
    color: #ff642e;
    border: 0;
    transition: all 0.2s linear;
    border-radius: 0;
  }

  header nav ul li:last-child { 
    border: 0; 
  }

  .listings ul.properties_list li {
    width: 46.36%;
    margin: 0 7.27% 7.27% 0;
  }

  .listings ul.properties_list li:nth-child(3n+0) { 
    margin: 0 7.27% 7.27% 0; 
  }

  .listings ul.properties_list li:nth-child(2n+0) { 
    margin-right: 0; 
  }

  footer .footer > ul > li {
    width: 29.69%!important;
    margin-right: 5.45%;
    margin-bottom: 100px;
  }

  footer .footer > ul > li:nth-child(3) { 
    margin-right: 0; 
  }

  footer .footer > ul > li.links li a { 
    text-align: center; 
  }

  footer .footer > ul > li.about {
    text-align: center;
    float: none;
    display: inline;
    margin-right: 100%;
    overflow: hidden;
    border-top: 1px solid #d4d7db;
  }
}

@media (max-width: 800px) {
  .search .advanced_search #numberRooms,
  .search .advanced_search #numberMeters,
  .search .advanced_search #min_price,
  .search .advanced_search #max_price {
    width: 96.36%;
    padding: 0 1.818%;
    border-bottom: 1px solid #d4d7db;
  }

  .search .advanced_search #numberRooms,
  .search .advanced_search #numberMeters {
    background-position: 95.088% 50%;
  }

  header nav .login:hover {
    color: #ff642e;
    border: 0;
    transition: all 0.2s linear;
    border-radius: 0;
  }

  .search .advanced_search .search_fields { 
    border-bottom: 0; 
  }

  .search .advanced_search .field_sep { 
    display: none; 
  }

  .dot {
    height: 4px;
    width: 22px;
  }
}

@media (max-width: 600px) {
  .menu .caption h2 { 
    font-size: 70px; 
  }

  .menu .caption h3 { 
    font-size: 16px; 
  }

  .search #search { 
    width: 83%; 
  }

  header nav .login:hover {
    color: #ff642e;
    border: 0;
    transition: all 0.2s linear;
    border-radius: 0;
  }

  .listings ul.properties_list li {
    width: 100%;
    margin-bottom: 60px!important;
  }

  .search #search { 
    font-size: 16px; 
  }

  .listings ul.properties_list li:last-child { 
    margin-bottom: 0!important; 
  }

  .listings ul.properties_list li:nth-child(3n+0),
  .listings ul.properties_list li:nth-child(2n+0) { 
    margin:0; 
  }

  .listings .more_listing_project {
    display: block;
    width: 100%; 
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .dot {
    height: 3px;
    width: 15px;
  }

  footer .footer > ul > li.links,
  footer .footer > ul > li.about {
    float: none;
    width: 100%!important;
    margin-right: 0;
    margin-bottom: 60px;
    padding-bottom: 60px;
  }

  footer .footer > ul > li:last-child { 
    padding-bottom: 0; 
  }

  footer .footer > ul > li.links { 
    border-bottom: 1px solid #d4d7db; 
  }
}